@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

@font-face {
  font-family: 'digital-7';
  font-style: normal;
  font-weight: normal;
  src: url('digital-7.woff') format('woff');
  }
*{
  border: 0em;
  margin: 0em;
  padding: 0em;
  outline: 0em;
}
html{
  scroll-behavior: smooth;
}
html, body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow-x: hidden !important;
}
::-webkit-scrollbar{
  width: 0;
}
/*---------------------------------Header Section---------------------------------*/  
#header{
  position: relative;
}
#header p{
  color: black;
  height: 25px;
  margin-top: 23.04px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fugaz One', cursive;
  text-shadow: 0vw 0.2vw 0.1vw red;
}
.card{
  top: 50%;
  box-shadow: 0 0 5px 0;
  background: linear-gradient(to top, #a375ff, #af8eff, #bca6fe, #cbbcfb, #dad3f7, #e1dbf6, #e8e4f4, #eeecf3, #eee9f5, #eee6f6, #efe3f7, #f0e0f8);
  backdrop-filter: blur(15px);
  margin-top: 1vw;
  text-align: center;
  height: 100px;
}
/*---------------------------------Simulator Section---------------------------------*/
#simulator-section{
  margin-bottom: 2vw;
}
#half-simulator{
	position: relative;
	overflow: hidden;
	width: 95%;
	margin-top: 1vw;
	margin-bottom: 2vw;
	padding-top: 56.25%;
	border: 0.33vw solid black;
}
#responsive-iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
#iframe-modal{
	height: auto;
	width: auto;
	margin-left: -22.5vw;
}
#dropdown{
	width: 100vw;
  	margin-top: 2vw;
}
.accordion-container {
	max-width: 80rem;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 0.5em;
}
.header {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	background-color: #222;
	padding: 0.5em;
	display: flex;
  	text-align: center;
	justify-content: center;
	align-items: center;
}
.accordion {
	width: 100%;
	display: block;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0.75em 0;
	text-align: start;
	/* font-size: 1.45rem; */
	font-weight: bold;
	color: #fff;
	background-color: teal;
	transition: 0.5s ease-in-out;
	position: relative;
	border-bottom: 2px solid rgb(214, 214, 214);
}

.accordion h4 {
	margin: 0 0.75em;
}

.accordion .step {
	background-color: rgb(0, 83, 83);
	padding: 0.5em 0.75em;
	font-size: 1.25rem;
	border-radius: 1em;
}
.accordion .accordion-title {
	margin-right: 5em;
}
.accordion:last-of-type {
	border-bottom: 0;
}
.active,
.accordion:hover {
	background-color: rgb(1, 92, 92);
}

.accordion::after {
	content: "\2b";
	font-family: "Font Awesome 5 Free";
	font-size: 2rem;
	font-weight: 900;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	transition: 0.5s ease-in-out;
}

.active::after {
	content: "\f00d";
	font-family: "Font Awesome 5 Free";
	font-size: 2rem;
	font-weight: 900;
	transition: 0.5s ease-in-out;
}
.panel {
	overflow: hidden;
	max-height: 0;
	transition: 0.5s ease-in-out;
}
.panel ul {
	padding: 1em 3em;
	/* font-size: 1.7rem; */
}
.panel ul a{
	text-decoration: none;
	color: black;
}
.panel li{
	cursor: pointer;
}
.panel li:hover{
	color: blue;
}
#next-btn{
    margin-bottom: 1VW;
    margin-top: 2vw;
    float: right;
    margin-right: 2vw;
}
#next{
  margin-bottom: 7vw;
}
@media (max-width: 575.98px) {
	.modal-fullscreen {
	  padding: 0 !important;
	}
	.modal-fullscreen .modal-dialog {
	  width: 100%;
	  max-width: none;
	  height: 100%;
	  margin: 0;
	}
	.modal-fullscreen .modal-content {
	  height: 100%;
	  border: 0;
	  border-radius: 0;
	}
	.modal-fullscreen .modal-body {
	  overflow-y: auto;
	}
  }
  @media (max-width: 767.98px) {
	.modal-fullscreen-sm {
	  padding: 0 !important;
	}
	.modal-fullscreen-sm .modal-dialog {
	  width: 100%;
	  max-width: none;
	  height: 100%;
	  margin: 0;
	}
	.modal-fullscreen-sm .modal-content {
	  height: 100%;
	  border: 0;
	  border-radius: 0;
	}
	.modal-fullscreen-sm .modal-body {
	  overflow-y: auto;
	}
  }
  @media (max-width: 991.98px) {
	.modal-fullscreen-md {
	  padding: 0 !important;
	}
	.modal-fullscreen-md .modal-dialog {
	  width: 100%;
	  max-width: none;
	  height: 100%;
	  margin: 0;
	}
	.modal-fullscreen-md .modal-content {
	  height: 100%;
	  border: 0;
	  border-radius: 0;
	}
	.modal-fullscreen-md .modal-body {
	  overflow-y: auto;
	}
  }
  @media (max-width: 1199.98px) {
	.modal-fullscreen-lg {
	  padding: 0 !important;
	}
	.modal-fullscreen-lg .modal-dialog {
	  width: 100%;
	  max-width: none;
	  height: 100%;
	  margin: 0;
	}
	.modal-fullscreen-lg .modal-content {
	  height: 100%;
	  border: 0;
	  border-radius: 0;
	}
	.modal-fullscreen-lg .modal-body {
	  overflow-y: auto;
	}
  }
  .modal-fullscreen-xl {
	padding: 0 !important;
  }
  .modal-fullscreen-xl .modal-dialog {
	width: 100%;
	max-width: none;
	height: 100%;
	margin: 0;
  }
  .modal-fullscreen-xl .modal-content {
	height: 100%;
	border: 0;
	border-radius: 0;
  }
  .modal-fullscreen-xl .modal-body {
	overflow-y: auto;
  }